.gradle/
build/
*/build/
.cxx/
.externalNativeBuild/
.kotlin/
local.properties
.idea/
*.iml
.DS_Store
Thumbs.db
*.log
*.apk
*.aab
google-services.json
obj/
lib/
captures/
*.jks
*.keystore
*.hprof
*.tmp
*.temp
abc